/* @import 'tailwindcss'; */

body,
body p {
    font-family: 'Open Sans';
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
.menu-list a {
    font-family: 'Open Sans';
    font-weight: 700;
}
.top-bar-section ul li > a {
    font-family: 'Open Sans';
}
.top-bar-section ul li > a {
    font-weight: 400;
}
.top-bar-section ul li > a {
    text-transform: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.menu-list a {
    text-transform: none;
}
body,
body p {
    text-transform: none;
}
.primary-color,
#filters li:hover,
#filters li:first-child,
#filters li:focus,
#filters li:active,
.wd-section-blog-services.style-3 .wd-blog-post h4:after,
.box-icon img,
.box-icon i,
button:hover,
button:focus,
.button:hover,
.button:focus,
button,
.button,
.wd-latest-news .wd-image-date span strong,
.wd-section-blog.style2 h4:after,
.pricing-table.featured .title,
.accordion .accordion-navigation > a,
.accordion dd > a,
.searchform #searchsubmit,
.wd-pagination span,
.blog-page .quote-format blockquote,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,
.products .product .button,
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.woocommerce-page button.button,
.widget_product_search #searchsubmit,
.widget_product_search #searchsubmit:hover,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    background: rgba(182, 112, 42, 1);
}

.wd-section-blog-services.style-3 .wd-blog-post .shape {
    stroke: rgba(182, 112, 42, 1);
}

.wd-menu3-logo {
    border-top: 70px solid rgba(0, 0, 0, 0.45);
}

.triongle {
    background-color: rgba(0, 0, 0, 0.45);
}
.blog-page .read-more-link,
#wp-calendar a,
.wd-testimonail blockquote cite,
.list-icon li:before {
    color: rgba(182, 112, 42, 1);
}
.hvr-underline-from-center:before,
.hvr-outline-in:before {
    border-color: rgba(209, 154, 32, 1);
}
.wd-footer {
    background: linear-gradient(180deg, rgb(135 194 60) 0px, rgb(60 116 54) 97%);
    background-size: cover;
    background-position: bottom;
}

.wd-title-section_c h2::after,
.wd-title-section_l h2::after,
.wd-latest-news .wd-title-element::after,
.hvr-underline-from-center::before {
    background-color: rgba(231, 190, 99, 1);
}
.wd-latest-news .hvr-pop.read-more {
    color: rgba(231, 190, 99, 1);
}

button.alert,
.button.alert,
.wd-newsletter .newslettersubmit {
    background-color: rgba(231, 190, 99, 1);
    border-color: rgba(231, 190, 99, 1);
}
a:hover,
a:focus {
    color: rgba(231, 190, 99, 1);
}
.wd-latest-news .wd-image-date span {
    background-color: rgba(209, 154, 32, 1);
}
.creative-layout .contain-to-grid.sticky {
    background: linear-gradient(180deg, rgb(135 194 60) 0px, rgb(60 116 54) 97%);
}

.creative-layout .contain-to-grid.sticky.fixed {
    background-color: rgba(0, 0, 0, 0.8);
}
.creative-layout .top-bar-section ul li > a {
    color: rgba(255, 255, 255, 1);
}
.creative-layout .fixed .top-bar-section ul li > a {
    color: rgba(255, 255, 255, 1);
}
.creative-layout .fixed .top-bar-section ul li > a:hover,
.creative-layout .fixed .top-bar-section ul li.active_menu > a {
    color: rgba(231, 190, 99, 1);
}

.logo {
    background-image: url('https://www.w3schools.com/w3images/logo.png');
    background-size: cover;
    width: auto; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    display: inline-block;
}

.text-white {
    color: #fff;
}

.keen-slider .flex {
    display: flex;
}

.keen-slider .items-center {
    align-items: center;
}

.keen-slider .justify-center {
    justify-content: center;
}
.keen-slider .bg-cover {
    background-size: cover;
}
.keen-slider .bg-center {
    background-position: center;
}

.fb-page .fb-iframe-widget {
    margin: 0 auto;
}

.wd-title-section_l > * {
    color: black;
}

/* inline-block rounded-md bg-green-600 px-6 py-3 font-semibold text-white transition hover:bg-green-700 */
.slider-btn {
    display: inline-block;
    border-radius: 0.375rem; /* rounded-md */
    background-color: #16a34a; /* bg-green-600 */
    padding: 0.75rem 1.5rem; /* px-6 py-3 */
    font-weight: 600; /* font-semibold */
    color: #ffffff; /* text-white */
    transition: background-color 0.2s ease-in-out; /* transition */
}

.slider-btn:hover {
    background-color: #15803d; /* hover:bg-green-700 */
}

.slider-paragraph {
    /* mb-4 text-xl text-white sm:text-xl  */
    margin-bottom: 1rem; /* mb-4 */
    font-size: 2rem; /* text-xl */
    color: #ffffff; /* text-white */
    /* sm:text-xl */
    @media (min-width: 640px) {
        font-size: 1.25rem; /* sm:text-xl */
    }
    line-height: 1.75; /* leading-7 */
    font-weight: 400; /* font-normal */
    text-align: center; /* text-center */
}

.call-to-action-wrapper {
    /* flex flex-col items-center justify-center bg-green-600 px-6 py-12 text-center */
    display: flex; /* flex */
    flex-direction: row; /* flex-col */
    align-items: center; /* items-center */
    justify-content: center; /* justify-center */
    background-color: #87c23c; /* bg-green-600 */
    padding: 3rem 1.5rem; /* px-6 py-12 */
    text-align: center; /* text-center */
}

.call-to-action-heading {
    /* mb-4 text-3xl font-bold text-white sm:text-4xl */
    margin-bottom: 1rem; /* mb-4 */
    font-size: 1.875rem; /* text-3xl */
    font-weight: 700; /* font-bold */
    color: #ffffff; /* text-white */
    @media (min-width: 640px) {
        font-size: 2.25rem; /* sm:text-4xl */
    }
    line-height: 2.5; /* leading-10 */
    text-align: center; /* text-center */
}
.call-to-action-phone,
.call-to-action-email {
    /* mb-4 text-lg text-white sm:text-xl */
    margin-bottom: 1rem; /* mb-4 */
    font-size: 2.125rem; /* text-lg */
    color: #ffffff; /* text-white */
    @media (min-width: 640px) {
        font-size: 2.25rem; /* sm:text-xl */
    }
    line-height: 1.75; /* leading-7 */
    font-weight: 700; /* font-normal */
    text-align: center; /* text-center */
}

.cta-container {
    /* flex flex-col items-center justify-center */
    display: flex; /* flex */
    flex-direction: row; /* flex-col */
    align-items: center; /* items-center */
    justify-content: space-around; /* justify-center */
}

.contact-page-header {
    /* mb-4 text-3xl font-bold text-white sm:text-4xl */
    margin-bottom: 1rem; /* mb-4 */
    font-size: 1.875rem; /* text-3xl */
    font-weight: 700; /* font-bold */
    color: #ffffff; /* text-white */
    @media (min-width: 640px) {
        font-size: 2.25rem; /* sm:text-4xl */
    }
    line-height: 2.5; /* leading-10 */
    text-align: center; /* text-center */
}

.contact-page-header h1 {
    margin-bottom: 0.5rem; /* Add some space below the header */
    color: #333; /* Change color if needed */
    font-weight: 700; /* Make it bold */
    padding-top: 50px;
}
.contact-page-header img {
    width: 100%; /* Adjust as needed */
    height: 300px; /* Maintain aspect ratio */
    margin-bottom: 1rem; /* Add some space below the image */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}
